.container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
}

.header{
    flex:2;
    
}
.show_details{
    flex:4;
    
}
.recommendations{
    flex:2;
   
}